# ignores all these sub-directories (including everything within)
db/
greybox_tmp/
incremental_db/
output_files/
pll_sim/
ssd_pll_sim/

# Files to keep track of:
# .qpf	->	Quartus Project Files
# .bdf	->	Quartus Block Schematic
# .v	->	Verilog HDL file
# .sym	->	Symbol files converted from Verilog
# .sdc	->	Synopsys Design Constraint File (Timing Analyzer)

# ignore the rest
*.bak
*.bsf
*.cmp
*.f
*.ppf
*.qip
*.sip
*.spd
*.txt