## ignores all these directories ##
db/
greybox_tmp/
incremental_db/
output_files/
.qsys_edit/
## Module Folders ##
pll_sim/
ssd_pll_sim/

## Files to keep track of: ##
# .qpf	->	Quartus Project Files
# .bdf	->	Quartus Block Schematic
# .v	->	Verilog HDL file
# .sym	->	Symbol files converted from Verilog

## Ignore the rest ##
# Backup Files
*.bak
# Verilog Backup Files
*.v.bak
# Block Symbol Files
*.bsf
# VHDL Component Files
*.cmp
*.f
*.ppf
*.qip
*.qws
# Synopsys Design Constraint File (Timing Analyzer)
*.sdc
*.sip
*.spd
*.srf
*.txt
